@model SistemaPermisos.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<div class="container mt-4">
    <h2 class="mb-4">Eliminar Usuario</h2>

    <h3 class="text-danger">¿Está seguro de que desea eliminar este usuario?</h3>
    <div>
        <h4>Usuario: @Model.Nombre @Model.Apellidos</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NombreUsuario)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rol)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rol)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class="col-sm-10">
                @(Model.IsActive ? "Sí" : "No")
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
